html, body {
  background-image: url("../img/solarsystem.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  font-style: italic;
  color: white;
  font-size: 24px;
}

.row-header {
  border-width: 2px;
}

.row-data {
  border-width: 2px;
}
