html, body {
  background-image: url("./img/comet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  font-size: 24px;
}

.row-header {
  border-width: 2px;
}

.row-data {
  border-width: 2px;
}

.btn-submit {
  border: 2px;
  border-color: black;
  border-radius: 2px;
  color: darkblue;
  font-weight: bold;
  font-size: 24px;
}
