html, body {
  background-image: url("./img/comet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  text-align: center;
  font-weight: bold;
  color: white;
  font-family: sans-serif;
  font-size: 24px;
}

h1 {
  color: red;
  font-style: italic;
}

.row-header {
  border-width: 2px;
}

.row-data {
  border-width: 2px;
}

.btn-submit {
  border: 2px solid darkblue;
  border-radius: 5px;
  background-color: white;
  color: red;
  font-weight: bold;
  font-size: 24px;
  font-style: italic;
}

table {
  width: 60%;
  border: 2px solid white;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

th {
  font-size: 18px;
}
th, td {
  padding: 15px;
  border: 2px solid white;
}
